[Unit]
Description=Dota2 BP Advisor - Weekly Synergy Data Update Timer

[Timer]
OnCalendar=Mon *-*-* 04:00:00
Persistent=true

[Install]
WantedBy=timers.target
