[Unit]
Description=Dota2 BP Advisor - Monthly Lane Roles Data Update Timer

[Timer]
OnCalendar=*-*-01 04:00:00
Persistent=true

[Install]
WantedBy=timers.target
